
body{
background-image: linear-gradient(#F67280, #355c7d);
}
.container{
margin: auto 0;
margin-top: 40px;
}
.card-header-custom{
background-color: #2A363B;
color: white;
padding: 10px;
}
#add-employee-btn-custom{
    background-color: #2A363B;
    color: white;
    padding: 10px;
}
.btn{
    background-color: #2A363B;
    color: white;
    padding: 10px;
}